body{
    margin:0px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
nav{
    background-color:brown;
}
nav ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;

}
 nav li{
    position:relative;

 }
 nav a{
    display:block;
    padding:14px 20px;
    color:ivory;
    text-align:center;
    text-decoration:none;

 }
 nav a:hover{
    background-color:dimgrey;

 }
 nav ul ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background-color:sienna;
    min-width:160px;
    flex-direction:column;
 }

 nav ul ul li{
    width:100%;

 }
 nav li:hover>ul{
      display:flex;

 }

 @media(max-width:600px){
    nav ul{
        flex-direction:column;
    }
    nav ul ul{
        position:static;
    }
 }